<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.00">

        <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dnd.css') }}">
    </head>
    <body class="flex flex-col bg-white antialiased">
        <!-- SIDE PANEL -->
        <aside x-data="{ open: window.innerWidth > 1024, active: window.innerWidth > 1024}"
               @mouseover="!active ? open = true : ''"
               @mouseleave="!active ? open = false : ''"
               x-on:resize.window="open = window.innerWidth > 1024; active = window.innerWidth > 1024"
               class="fixed z-50 top-0 left-0 bottom-0 w-[45px] lg:w-64 hover:w-64 transition-all ease-in-out p-1 lg:px-4 bg-indigo-600 font-semibold text-sm text-gray-200 shadow-sm overflow-hidden">
            <div class="relative h-full">
                <!-- LOGO -->
                <div x-show="open">
                {% include "components/logo.html" %}
                </div>
                <div x-show="!open">
                {% include "components/logo_small.html" %}
                </div>

                <!-- NAVBAR -->
                <div>
                {% include "components/navigation.html" %}
                </div>

                <!-- USER -->
                {% if session['auth'] %}
                <div x-show="open" class="absolute text-center left-0 right-0 p-4 bottom-0">
                    Uživatel:
                    <span class="font-light">{{ session['user']['name'] }}</span>
                </div>
                {% endif %}
            </div>
        </aside>

        <!-- MAIN WRAPPER -->
        <div class="pl-[45px] lg:pl-64 transition-all ease-in-out bg-slate-100">
            <!-- MESSAGES -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="max-w-2xl mx-auto my-4">
                        {% for category, message in messages %}
                            {% include "components/alert.html" %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- CONTENT -->
            <div class="[&>main]:min-h-screen">
            {% block content %}{% endblock %}
            </div>

            <!-- FOOTER -->
            <footer class="mt-auto text-sm text-gray-500 leading-8 bg-white flex justify-between">
                <div class="mx-8 px-8 py-3 flex justify-between w-full border-t border-gray-300">
                    <div>&copy 2024 JELÍNEK &amp BARTOŠ, všechna práva vyhrazena.</div>
                    <a class="text-indigo-600" href="https://github.com/jelinekjakub/kanbanboard">GitHub</a>
                </div>
            </footer>
        </div>
    </body>
</html>
