<!doctype html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.00">

        <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
        <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>

        <title>{% block title %}{% endblock %}</title>

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/dnd.css') }}">
    </head>
    <body class="flex flex-col bg-white antialiased">
        <!-- SIDE PANEL -->
        <aside class="fixed top-0 left-0 bottom-0 w-[45px] lg:w-64 hover:w-64 transition-all ease-in-out p-1 lg:px-4 bg-indigo-600 font-semibold text-sm text-gray-200 shadow-sm overflow-hidden">
            <div class="relative h-full">
                <!-- LOGO -->
                {% include "components/logo.html" %}

                <!-- NAVBAR -->
                {% include "components/navigation.html" %}

                <!-- USER -->
                {% if session['auth'] %}
                <div class="absolute hidden lg:block text-center left-0 right-0 p-4 bottom-0">
                    Uživatel:
                    <span class="font-light">{{ session['user']['name'] }}</span>
                </div>
                {% endif %}
            </div>
        </aside>

        <!-- MAIN WRAPPER -->
        <div class="pl-[45px] lg:pl-64 transition-all ease-in-out bg-slate-100">
            <!-- MESSAGES -->
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="max-w-2xl mx-auto my-4">
                        {% for category, message in messages %}
                            {% include "components/alert.html" %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <!-- CONTENT -->
            <div class="[&>main]:min-h-screen">
            {% block content %}{% endblock %}
            </div>

            <!-- FOOTER -->
            <footer class="mt-auto"></footer>
        </div>
    </body>
</html>
