{% extends "layouts/default.html" %}

{% block title %}Team{% endblock %}
{% block content %}
<link rel="stylesheet" href="../../static/css/project-status.css">
<main class="flex bg-gray-50 p-12 w-full text-slate-800 relative">
    <div class="flex-none flex-row absolute top-0 right-0 pr-12 pt-12">
        <div class="flex gap-12 flex-row items-center">
            <a href="{{ url_for('team_overview') }}">
                <div class="flex flex-row gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6h9.75M10.5 6a1.5 1.5 0 1 1-3 0m3 0a1.5 1.5 0 1 0-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m-9.75 0h9.75" />
                    </svg>
                    Správa týmu
                </div>
            </a>
        </div>
    </div>

    <div class="w-full flex flex-col">
        <h1 class="text-2xl mb-8 font-semibold">Tým {{ current_user.team.name }} </h1>

        <ul role="list" class="grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
            {% for member in current_user.team.members %}
            <li class="col-span-1 divide-y divide-gray-200 rounded-lg bg-white shadow">
                <div class="flex w-full items-center justify-between space-x-6 p-6">
                    <div class="flex-1">
                        <div class="flex items-center space-x-3">
                            <h3 class="truncate text-sm font-medium text-gray-900 capitalize">{{ member.name }}</h3>
                        </div>
                        <p class="mt-1 truncate text-sm text-gray-500">{{ member.team_role.value }}</p>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</main>
{% endblock %}
