{% extends "layouts/default.html" %}

{% block title %}Detail úkolu{% endblock %}
{% block content %}
<main class="flex bg-white p-12 w-full text-slate-800 relative">
    <a href="#" class="flex-none absolute top-0 right-0 pr-12 pt-12">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3" />
        </svg>
    </a>
    <div class="w-full">
        <h1 class="text-2xl mb-8 font-semibold">Projekty</h1>
        <div class="mt-6">

        </div>
    </div>
</main>
{% endblock %}
