{% extends "layouts/default.html" %}

{% block title %}Burndown{% endblock %}
{% block content %}
<main class="flex bg-white p-12 w-full text-slate-800 relative">
    <div class="flex-none flex-row absolute top-0 right-0 pr-12 pt-12">
        <div class="flex gap-12 flex-row items-center">
            <a href="{{ url_for('stats_index') }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                </svg>
            </a>
        </div>
    </div>

    <div class="w-full">
        <h1 class="text-2xl mb-8 font-semibold">{{project.name}} - Burndown</h1>

        <div class="flex items-center justify-center w-full">
            <div class="flex flex-col justify-between w-full">
                <div class="mt-6 w-full">
                    <canvas id="burndown" class="w-full object-contain" role="img"></canvas>
                </div>
            </div>

            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script>
                const chart = new Chart(document.getElementById("burndown"), {
                type: "line",
                data: {
                    labels: {{ data['days_all']|tojson }},
                    datasets: [
                        {
                            label: "Zbývající práce (%)",
                            borderColor: "rgb(67,56,202)",
                            data: {{ data['data']|tojson }},
                            fill: false,
                            pointBackgroundColor: "rgb(67,56,202)",
                            borderWidth: "3",
                            pointRadius: "0",
                            pointBorderWidth: "4",
                            pointHoverRadius: "6",
                            pointHoverBorderWidth: "8",
                            pointHoverBorderColor: "rgb(67,56,202,0.2)"
                        },
                        {
                            label: "Ideální zbývající práce (%)",
                            borderColor: "rgb(56,202,67)",
                            data: {{ data['ideal_data']|tojson }},
                            fill: false,
                            pointBackgroundColor: "rgb(56,202,67)",
                            borderWidth: "3",
                            pointRadius: "0",
                        }
                    ]
                },
                options: {
                    legend: {
                        position: false
                    },
                    scales: {
                        yAxes: [
                            {
                                gridLines: {
                                    display: false
                                },
                                display: false
                            }
                        ]
                    }
                }
            });
            </script>
        </div>
    </div>
</main>
{% endblock %}
