{% extends "layouts/default.html" %}

{% block title %}Statistika{% endblock %}
{% block content %}
<main class="flex bg-white p-12 w-full text-slate-800 relative">
    <div class="w-full">
        <h1 class="text-2xl mb-8 font-semibold">Statistika</h1>
        <div class="p-4 w-full">
            <div class="flex lg:flex-row flex-col items-center justify-center">
                <div class="w-full">
                    <a href="" class="h-64 flex justify-center items-center flex-col transition-all duration-300 ease-in-out border border-gray-200 hover:border-gray-300 hover:bg-gray-100 text-gray-800 shadow-sm lg:rounded-l-xl p-6">
                        <div class="flex items-center">
                            <div class="h-12 w-12 rounded-xl flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" class="size-8">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6 9 12.75l4.286-4.286a11.948 11.948 0 0 1 4.306 6.43l.776 2.898m0 0 3.182-5.511m-3.182 5.51-5.511-3.181" />
                                </svg>
                            </div>
                            <div class="text-xl font-semibold uppercase pl-4">Burndown</div>
                        </div>
                        <p class="mt-4 text-sm text-center">Vizuální nástroj ukazující zbývající práci v čase. Používá se ve Scrumu ke sledování pokroku během sprintu.</p>
                    </a>
                </div>
                <div class="w-full">
                    <a href="" class="h-64 flex justify-center items-center flex-col transition-all duration-300 ease-in-out border border-gray-500 hover:border-gray-700 hover:bg-indigo-700 bg-indigo-600 text-white shadow-sm lg:rounded-r-xl p-6">
                        <div class="flex items-center">
                            <div class="h-12 w-12 rounded-xl flex items-center justify-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.2" stroke="currentColor" class="size-8">
                                      <path stroke-linecap="round" stroke-linejoin="round" d="M3 13.125C3 12.504 3.504 12 4.125 12h2.25c.621 0 1.125.504 1.125 1.125v6.75C7.5 20.496 6.996 21 6.375 21h-2.25A1.125 1.125 0 0 1 3 19.875v-6.75ZM9.75 8.625c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125v11.25c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V8.625ZM16.5 4.125c0-.621.504-1.125 1.125-1.125h2.25C20.496 3 21 3.504 21 4.125v15.75c0 .621-.504 1.125-1.125 1.125h-2.25a1.125 1.125 0 0 1-1.125-1.125V4.125Z" />
                                </svg>
                            </div>
                            <div class="text-xl font-semibold uppercase pl-4">Velocity</div>
                        </div>
                        <p class="mt-4 text-sm text-center">Graf zobrazující rychlost týmu v plnění úkolů během sprintů. Pomáhá sledovat a plánovat výkon týmu.</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
