{% extends "layouts/default.html" %}

{% block title %}Tabule{% endblock %}
{% block content %}
<main class="flex bg-white p-12 w-full text-slate-800">
    <div class="flex-none flex-row absolute top-0 right-0 pr-12 pt-12">
        <div class="flex gap-12 flex-row items-center">
            <a href="{{ url_for('task_create') }}">
                <div class="flex flex-row gap-2">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                    </svg>
                    Nový úkol
                </div>
            </a>
        </div>
    </div>
    <div class="flex flex-col w-full">
        <h1 class="text-2xl mb-8 font-semibold ">Tabule</h1>
        <div class="grid grid-cols-3 gap-2">
            {% for task_status in task_statuses %}
            <div class="bg-slate-50 rounded-lg shadow-sm p-4">
                <h2 class="uppercase font-semibold mb-6 text-slate-600 tracking-wider text-sm">{{ task_status.value }}</h2>
                <div class="flex flex-col gap-4 [&>a]:bg-slate-100 [&>a]:transition [&>a]:rounded-md [&>a]:px-4 [&>a]:py-1 [&>a]:text-slate-800">
                    {% for task in tasks_list %}
                    {% if task.status == task_status %}
                    <a href="{{ url_for('task_show') }}?id={{ task.id }}" class="hover:bg-slate-200">
                        {{ task.name }}
                        <span class="block text-right mt-6 text-sm">{{ task.deadline }}</span>
                    </a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}