{% extends "layouts/default.html" %}

{% block title %}Nový úkol{% endblock %}
{% block content %}
<main class="flex bg-white p-12 w-full text-slate-800 relative">
    <div class="flex-none flex-row absolute top-0 right-0 pr-12 pt-12">
        <div class="flex gap-12 flex-row items-center">
            <a href="{{ url_for('board') }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="w-full">
        <h1 class="text-2xl mb-8 font-semibold">Nový úkol</h1>
        <form class="space-y-4 w-full md:w-1/2" action="{{ url_for('task_create') }}" method="POST">
            {% import 'components/forms.html' as forms %}

            {{ forms.input('name', 'Název') }}
            {{ forms.textarea('description', 'Popis') }}
            {{ forms.select('difficulty', 'Obtížnost', [
                { 'value': 1, 'label': 'Velmi snadný' },
                { 'value': 2, 'label': 'Snadný' },
                { 'value': 3, 'label': 'Středně obtížný' },
                { 'value': 4, 'label': 'Obtížný' },
                { 'value': 5, 'label': 'Velmi obtížný' }
            ]) }}
            {{ forms.input('deadline', 'Deadline', type='date') }}

            <!-- Component not implemented -->
            <div>
                <label for="project" class="block text-sm font-medium leading-6 text-gray-900">Projekt</label>
                <div class="mt-2">
                    <select id="project" name="project" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                {% for project in projects_list %}
                                    <option value="{{ project.id}}" {{ 'selected' if project.id == current_project_id | int else '' }}>{{ project.name }}</option>
                                {% endfor %}
                    </select>
                </div>
            </div>

            <div class="pt-8">
                {{ forms.button('Vytvořit') }}
            </div>
        </form>
    </div>
</main>
{% endblock %}
