{% extends "layouts/default.html" %}

{% block title %}Nový úkol{% endblock %}
{% block content %}
<main class="flex bg-white p-12 w-full text-slate-800 relative">
    <div class="flex-none flex-row absolute top-0 right-0 pr-12 pt-12">
        <div class="flex gap-12 flex-row items-center">
            <a href="{{ url_for('board') }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="w-full">
        <h1 class="text-2xl mb-8 font-semibold">Nový úkol</h1>
        <form class="space-y-4 w-full md:w-1/2" action="{{ url_for('task_create') }}" method="POST">
            <div>
                <label for="name" class="block text-sm font-medium leading-6 text-gray-900">Název</label>
                <div class="mt-2">
                    <input id="name" name="name" type="text" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>
            <div>
                <label for="description" class="block text-sm font-medium leading-6 text-gray-900">Popis</label>
                <div class="mt-2">
                    <textarea id="description" name="description" required
                           class="block w-full min-h-24 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"></textarea>
                </div>
            </div>
            <div>
                <label for="difficulty" class="block text-sm font-medium leading-6 text-gray-900">Obtížnost</label>
                <div class="mt-2">
                    <select id="difficulty" name="difficulty" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        <option value=1>Velmi snadný</option>
                        <option value=2>Snadný</option>
                        <option value=3>Středně obtížný</option>
                        <option value=4>Obtížný</option>
                        <option value=5>Velmi obtížný</option>
                    </select>
                </div>
            </div>
            <div>
                <label for="deadline" class="block text-sm font-medium leading-6 text-gray-900">Deadline</label>
                <div class="mt-2">
                    <input id="deadline" name="deadline" type="date" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                </div>
            </div>

            <div>
                <label for="project" class="block text-sm font-medium leading-6 text-gray-900">Projekt</label>
                <div class="mt-2">
                    <select id="project" name="project" required
                           class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                {% for project in projects_list %}
                                    <option value="{{ project.id}}" {{ 'selected' if project.id == current_project_id | int else '' }}>{{ project.name }}</option>
                                {% endfor %}
                    </select>
                </div>
            </div>

            <div class="pt-8">
                <button type="submit"
                        class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                    Vytvořit
                </button>
            </div>
        </form>
    </div>
</main>
{% endblock %}
