{% extends "layouts/default.html" %}

{% block title %}Upravit úkol{% endblock %}
{% block content %}
<main class="flex bg-white p-12 w-full text-slate-800 relative">
    <div class="flex-none flex-row absolute top-0 right-0 pr-12 pt-12">
        <div class="flex gap-12 flex-row items-center">
            <a href="{{ url_for('task_show') }}?id={{ task.id }}">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                     class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 15 3 9m0 0 6-6M3 9h12a6 6 0 0 1 0 12h-3"/>
                </svg>
            </a>
        </div>
    </div>
    <div class="w-full">
        <h1 class="text-2xl mb-8 font-semibold">Upravit úkol</h1>
        <form class="space-y-4 w-full md:w-1/2" method="POST" action="{{ url_for('task_edit') }}?id={{ task.id }}">
            {% import 'components/forms.html' as forms %}

            {{ forms.input('name', 'Název', task.name) }}
            {{ forms.textarea('description', 'Popis', task.description) }}
            {{ forms.select('difficulty', 'Obtížnost', [
                { 'value': 1, 'label': 'Velmi snadný' },
                { 'value': 2, 'label': 'Snadný' },
                { 'value': 3, 'label': 'Středně obtížný' },
                { 'value': 4, 'label': 'Obtížný' },
                { 'value': 5, 'label': 'Velmi obtížný' }
            ], task.difficulty) }}

            <div class="pt-8">
                {{ forms.button('Uložit') }}
            </div>
        </form>
    </div>
</main>
{% endblock %}
