{% extends "layouts/default.html" %}

{% block title %}Home{% endblock %}
{% block content %}
<main class="flex bg-slate-200 p-12 w-full justify-center">
    <div class="relative isolate px-6 pt-14 lg:px-8">
    <div class="mx-auto max-w-2xl py-12">
      <div class="text-center">
        <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Kanban tabule pro správu projektu</h1>
        <p class="mt-6 text-lg leading-8 text-gray-600">Správa projektů a plánování úkolů. Sledování metrik vývoje softwaru, burndown graf a velocity.</p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
          <a href="{{ url_for('login') if not session['auth'] else url_for('project_create') }}" class="rounded-md bg-indigo-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Vytvořte si projekt nyní</a>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}